= form_for(Relationship.new(followed_id: user.id, follower_id: current_user.id), remote: true) do |f|
  = hidden_field_tag :followed_id, user.id
  = f.submit t('relationship.follow'), class: "btn btn-primary"
