span.badge.custom-tooltip id="vote-badge-#{option.id}" style="font-size:12px; font-weight:500; background-color: #4f46e5;" data-bs-toggle="tooltip" data-bs-title=voter_names
  = pluralize(option.votes.count, "vote")
