span.badge.bg-primary.m-2.vote-badge id="vote-counts-#{poll.id}"
  - vote_count = poll.votes_count
  = vote_count > 1 ? "#{poll.votes_count} #{t('share.votes')}" : "#{poll.votes_count} #{t('share.vote')}"
