@import "variables"
.footer
  display: flex
  justify-content: space-between
  border-top: $border-line
  padding: 10pt 20pt
  position: fixed
  z-index: 9999
  bottom: 0
  left: 0
  right: 0
  background-color: white

  &__box
    display: flex
    flex: 1
    justify-content: center

  &__box:first-child
    justify-content: flex-start

  &__box:last-child
    justify-content: flex-end

.desktop-footer
  display: none

@media only screen and (min-width: 769px)
  .footer
    display: none

@media only screen and (min-width: 1023px)
  .desktop-footer
    display: block
    padding: 10pt 50pt 25pt 50pt
    background: #FAEBD7

    .desktop-header-content
      max-width: 900pt
      margin: 10pt auto 0 auto

    .desktop-footer-icons
      display: flex
      > div
        padding-right: 15pt

    .social-icon
      width: 25pt
      height: 25pt
