@import 'bootstrap-sprockets'
@import 'bootstrap'
@import "variables"
@import "mixins"

body
  font-family: sans-serif

p
  font-size: 14pt

button
  white-space: nowrap
  &:focus
    outline: none

.twink-normal-btn
  height: 40pt
  border-radius: 4px
  border: none
  color: white
  text-align: center

.twink-btn-cancel
  background: $ruby-red
  width: 100pt
  line-height: 40pt

.twink-btn-submit
  background: $boeing-blue
  width: 140pt

a
  text-decoration: none
  color: black
  &:focus
    outline: none
    text-decoration: none
  &:hover
    outline: none
    text-decoration: none

.medium-icon
  width: 30pt

.large-icon
  width: 40pt
  height: auto

.small-icon
  width: 16pt
  height: auto

.heart-btn
  .small-icon
    max-height: 20pt

.mini-icon
  width: 15pt

.app-name
  font-size: 20pt
  padding-left: 20pt

input
  margin: 0
  &:focus
    outline: none
    box-shadow: none
    border: none

.new-post
  textarea
    height: 100pt
  &:focus
    outline: none
    box-shadow: none

textarea
  line-height: 12pt
  &:focus
    outline: none
    box-shadow: none

img
  object-fit: cover

.sub-header
  display: flex
  margin-bottom: 10pt
  align-items: center
  background-color: white

.paginate-container
  display: flex
  justify-content: center
  position: fixed
  bottom: 39pt
  background: white
  width: 100vw

.avatar-linear-wrapper
  @include avatar-wrapper
  background-image: $border-linear-avatar
  width: 40pt
  height: 40pt

.sub-header__user-name
  padding-left: 5pt

.avatar-simple-wrapper
  @include avatar-wrapper
  border: 1px solid black
  width: 30pt
  height: 30pt

.linear-avatar
  @include avatar
  width: 33pt
  height: 33pt

.simple-avatar
  @include avatar
  width: 28pt

.comment-actions
  display: flex
  align-items: center
  justify-content: flex-end
  h6
    padding: 0
    margin: 0
  h6:last-child
    padding-left: 10pt

.heart-btn
  background-color: transparent
  border: none
  padding: 0
  height: auto

#unfollow-btn
  color: #d9534f
  border: none
  background-color: transparent
  margin: 0
  width: 100pt
  display: flex
  justify-content: center
  padding-left: 10pt
  &:hover
    color: red

#follow-btn
  color: #337ab7
  border: none
  background-color: transparent
  margin: 0
  width: 100pt
  display: flex
  justify-content: center
  padding-left: 20pt
  &:hover
    color: #1e90ff

input, textarea, select, .uneditable-input
  border: 1px solid #bbb
  width: 100%
  margin-bottom: 15px
  @include box_sizing

#trash-icon
  width: 10pt

// input
//   height: 30pt

#error_explanation
  color: red
  ul
    color: red
    margin: 0 0 30px 0

.field_with_errors
  @extend .has-error
  .form-control
    color: red

.form-control
  &:focus
    border-color: transparent
    box-shadow: none
    border: 1px solid #bbb

.comments-count-text
  padding-left: 5pt
  padding-right: 5pt
  display: inline-block

@media screen and (max-width: 766px)
  h1
    font-size: 24pt
  .sub-header
    padding: 10pt 0 10pt 10pt
    border-bottom: $border-line

  .users
    .sub-header
      border-bottom: none

@media screen and(min-width: 769px)
  .paginate-container
    bottom: 0
    width: 100%
 
  .section-container
    padding-top: 80pt
							

