@import "mixins"
@import "variables"

.main-links
  a
    color: $purple

article
  h1
    text-align: center
  p
    padding-top: 20pt

.locale-active-vi
  display: flex
  .locale-vi a
    color: $purple
    font-weight: 700
    text-decoration: none !important

.locale-active-en
  display: flex
  .locale-en a
    color: $purple
    font-weight: 700
    text-decoration: none !important

.desktop-header-no-signin 
  display: flex
  background: none !important
  border-bottom: none !important
  .desktop-header__wrapper
    > div
      justify-content: flex-end

.dropdown
  position: relative
  display: inline-block

ul.posts-menu 
  display: none !important
  position: absolute
  background-color: #f9f9f9
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1
  padding: 10pt 0 10pt 10pt !important
  background-color: none
  border: none
  li
    padding-bottom: 5pt

.dropdown:hover .posts-menu
  display: block !important

.posts-btn 
  background: none
  border: none

.normal-header-link
  padding: 0 20pt
  white-space: nowrap

.app-name
  height: 50pt
  width: 30%
  display: flex
  align-items: center

  .content
    position: relative
    left: 50pt
    text-transform: uppercase

  .content h2
    color: #fff
    font-size: 14pt
    position: absolute
    transform: translate(-50%, -50%)
    left: 15%
    margin: 0

  .content h2:nth-child(1)
    color: transparent
    -webkit-text-stroke: 2px $purple

  .content h2:nth-child(2)
    color: $purple
    animation: animate 4s ease-in-out infinite

.desktop-header
  display: none
  position: sticky
  z-index: 9999
  background-color: white
  width: 100vw
  padding: 0 20pt
  border-bottom: $border-line
  height: 94px
  top: 0

  .search-form-container
    flex: 1 

  .header-down-icon
    width: 10pt
    margin-bottom: 4pt
    margin-left: 4pt

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10pt 0
    max-width: 900pt
    margin: 0 auto 0 auto
    > div:first-child
      flex: 1
      display: flex
      align-items: center
    ul
      list-style: none
      display: flex
      flex: 1
      // justify-content: center
      margin: 0
      padding: 0
      li
        padding-right: 15pt
    > div:last-child
      a
        // padding-left: 5pt
        white-space: nowrap

  &__search
    border: $border-line
    height: 35pt
    input
      border: none
    > div
      position: relative
      bottom: 20pt
      left: 25%

  input
    &::placeholder
      // padding-left: 50pt
    &:focus
      &::placeholder
        color: transparent

  .search-form
    display: flex
    align-items: center

  .search-icon
    width: 10pt

  .search_user_name
    input
      height: 32pt
      &:placeholder
        padding-bottom: 10pt

  .search-submit-btn
    margin-left: 5px
    margin-bottom: 2px
    background-color: $purple
    padding-left: 20px
    padding-right: 20px
    border: none
    border-radius: 4px
    height: 32pt
    line-height: 15px
    img
      margin-bottom: 2px

  .heart
    position: relative
    top: 15px
    &:before
      display: block
      width: 60px
      height: 40px
      content: ''
      background: $purple
      border-top-left-radius: 20px
      border-bottom-left-radius: 20px
      transform: rotate(45deg)
    &:after
      display: block
      width: 60px
      height: 40px
      content: ''
      background: #8A2BE2
      border-top-right-radius: 20px
      border-bottom-right-radius: 20px
      transform: rotate(-45deg) translateY(-18px) translateX(40px)
      position: relative

.mobile-header
  display: flex
  align-items: center
  position: fixed
  width: 100vw
  background-color: white
  z-index: 9999
  justify-content: space-between
  border: $border-line
  padding: 10pt 20pt
  &__text
    font-size: 20pt
  h1
    margin: 0

.heart
  position: relative
  top: 15px
  &:before
    display: block
    width: 38px
    height: 26px
    content: ''
    background: #8A2BE2
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px
    transform: rotate(45deg)
  &:after
    display: block
    width: 45px
    height: 27px
    content: ''
    background: #8A2BE2
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
    transform: rotate(-46deg) translateY(-8px) translateX(26px)
    position: relative

@media screen and (min-width: 769px)
  .mobile-header
    display: none

  .desktop-header
    display: block
    .form-inline
      .form-group
        margin-bottom: -10pt

  .app-name
    .content h2
      font-size: 30pt

  @keyframes animate
    0%,
    100%
      clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%)
    50%
      clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%)

@media screen and (min-width: 1023px)
  .desktop-header
    padding: 0 50pt
