@import "mixins"
@import "variables"

article
  h1
    text-align: center
  p
    padding-top: 20pt

.desktop-header
  display: none
  position: fixed
  z-index: 9999
  background-color: white
  width: 100vw
  padding: 0 20pt
  border-bottom: $border-line
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10pt 0
    max-width: 900pt
    margin: 0 auto 0 auto
    > div:first-child
      flex: 1
      display: flex
      align-items: center
    ul
      list-style: none
      display: flex
      flex: 1
      justify-content: center
      margin: 0
      padding: 0
      li
        padding-right: 15pt
    > div:last-child
      a
        padding-left: 5pt
        white-space: nowrap

  &__search
    border: $border-line
    height: 35pt
    input
      border: none
    > div
      position: relative
      bottom: 20pt
      left: 25%

  input
    &::placeholder
      // padding-left: 50pt
    &:focus
      &::placeholder
        color:transparent

  .search-icon
    width: 10pt

  .search-submit-btn
    margin-left: 5px
    margin-bottom: 2px

.mobile-header
  display: flex
  align-items: center
  position: fixed
  width: 100vw
  background-color: white
  z-index: 9999
  justify-content: space-between
  border: $border-line
  padding: 10pt 20pt
  &__text
    font-size: 20pt
  h1
    margin: 0

@media screen and (min-width: 769px)
  .mobile-header
    display: none

  .desktop-header
    display: block
    .form-inline
      .form-group
        margin-bottom: -10pt

  .app-name
    height: 30pt
    width: 30%

  .content
    width: 270pt 
    position: relative

  .content h2
    color: #fff
    font-size: 30pt
    position: absolute
    transform: translate(-50%, -50%)
    left: 35%

  .content h2:nth-child(1)
    color: transparent
    -webkit-text-stroke: 2px teal

  .content h2:nth-child(2)
    color: teal
    animation: animate 4s ease-in-out infinite

  @keyframes animate
    0%,
    100%
      clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%)
    50% 
      clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%)



@media screen and (min-width: 1023px)
  .desktop-header
    padding: 0 50pt
