@import "variables"
@import "general"

.user-form-submit-btn
  width: 100%

.user-actions-btns-wrapper
  display: flex
  justify-content: flex-end
  a
    margin-right: 10px

.user__edit-wrapper
  white-space: nowrap

.users
  position: relative
  top: 60pt
  padding: 10pt 20pt
  p
    font-size: 12pt
    padding-left: 5pt

  &__short-info
    a:first-child
      display: flex
      align-items: center

  &__search-result-title
    margin-bottom: 15pt !important
    font-size: 16pt

  &__short-info
    display: flex
    border-bottom: $border-line
    padding-top: 10pt
    font-size: 10pt
    flex-direction: column
    width: 100%
    justify-content: space-around

.user-form-container.new,
.user-form-container.login
  max-width: 900pt
  padding-top: 50pt
  input 
    font-size: 14pt
    &::placeholder
      font-size: 14pt

// .user-form-container.login
//   padding-top: 0

.user-form-container.login h1
  padding-top: 0

.user-form-container.new
  padding-top: 40pt !important
  .right-box
    height: 530px
  .new_user
    padding: 20pt 20pt 0 20pt

.user-form-container.login
  .app-name
    width: initial
    padding-left: 0
    .content h2
      left: 10%

.user-form-container
  font-family: 'Aref Ruqaa', serif !important
  display: flex
  justify-content: center
  height: calc(100vh - 150px)
  margin: 0 auto 0 auto
  padding: 0 20px
  max-width: 600pt
  padding-top: 70pt

  h1, h4
    text-align: center
  h1
    margin: 0
    padding: 15pt 0 0 0
  h4
    color: #999
    line-height: 20pt
  form
    padding: 20pt 0
    width: 100%
    height: 100%
    overflow: scroll

  .form-check
    display: flex
    .form-check-input
      width: 20pt

  .right-box
    width: 300pt
    // min-width: 235pt
    height: 600px
    border: 10px solid
    // padding: 0 20pt
    margin-bottom: 20pt
    border-image-source: linear-gradient(45deg, #13547a, #80d0c7)
    border-image-slice: 1
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    .content
      width: 300px
      position: relative
      left: 125px
  
    .form-control
      height: 40px
      margin: 0 auto
      margin-bottom: 12px !important
    input:not(:last-child)
      // border: 1px solid #e6e6e6
      box-shadow: none
      background: #fafafa
      &:focus
        border: 1px solid gray
    > div:first-child
      // border: 10px solid
      // padding: 0 20pt
      // margin-bottom: 20pt
      // border-image-source: linear-gradient(45deg, #13547a, #80d0c7)
      // border-image-slice: 1
      // margin-top: 90px
    > div:last-child
      // border: 1px solid #e6e6e6
      padding: 10pt 0
      display: flex
      align-items: center
      justify-content: center
      p
        margin: 0
        padding: 0

  .left-box
    display: none
    position: relative
    // left: 60pt
    top: 16pt
    .under-box
      width: 250pt
      height: 500pt
      position: relative
      img:first-child
        width: 100%
        height: 100%
      img:last-child
        position: absolute
        width: 195pt
        left: 35pt
        top: 62pt
        height: 300pt
    .above-box
      position: relative
      right: 171pt
      width: 250pt
      height: 500pt
      top: -17pt
      img
        width: 100%
        height: 100%
  
  // .account-regis-header
  //   margin-top: 50pt

  .log-in-form
    padding: 20pt
    border: 10px solid
    width: 300pt
    border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66))
    border-image-slice: 1
    height: 500px
   
    label
      margin-bottom: 0 !important
      font-size: 12pt

.user-authenticate-message
  white-space: nowrap
  text-align: center
  font-size: 12pt
  display: flex
  a 
    margin-left: 5px

.forgot-password-text
  text-align: center
  padding: 10pt 0
  font-size: 12pt

.user-show-header
  display: flex
  justify-content: space-between
  position: fixed
  top: 10pt
  z-index: 9999
  background-color: white
  width: 100vw
  border-bottom: $border-line
  padding: 0 20pt

.user
  text-align: center
  padding-top: 70pt

  &__name-edit-group
    display: none

  &__avatar
    width: 70pt
    height: 70pt
    border-radius: 50%
    border: $border-line

  &__flex-box
    display: flex
    // justify-content: space-around
    // align-items: center

  &__zodiac-sign
    width: 30px
    height: 30px
    margin-right: 5px

  &__photos
    padding-bottom: 100pt
    display: grid
    grid-template-columns: 200pt
    grid-row-gap: 20pt
    justify-content: center
    padding-top: 50pt
    .thumbnail-photo-wrapper
      .thumbnail-photo
        width: 200pt
        height: 150pt
      .thumbnail-content
        display: -webkit-box
        overflow: hidden
        height: 100pt
        text-overflow: ellipsis
        -webkit-line-clamp: 5
        -webkit-box-orient: vertical
        color: white
        display: flex
        align-items: center
        justify-content: center

      .thumbnail-content-no-pic-wrapper
        padding: 10pt
        background: $purple
        display: flex
        align-items: center
        justify-content: center

  h1
    padding-bottom: 10pt

  > div:first-child
    display: flex
    // align-items: center

  &__info-wrapper
    padding: 0 20pt
    display: flex
    flex-direction: column
    align-items: flex-start

  &__follows
    display: flex
    justify-content: space-between
    // padding: 0 20pt
    border-top: $border-line
    border-bottom: $border-line
    max-width: 500pt
    > div
      padding: 10pt 0
    p
      font-size: 12pt
      margin: 0
      padding-right: 5pt

  &__edit-btn
    padding-left: 20pt
    a
      background-color: $purple
      color: white
      border-radius: 4px
      padding: 5pt 15pt 8pt 15pt

  .footer-container
    display: block

  &__edit-wrapper
    display: flex
    align-items: center
    a
      height: 100%
      display: flex
      align-items: center
      justify-content: space-between
      img
        height: 100%
        margin-left: 10px
      span
        border: $border-line
        padding: 5px 20px
        border-radius: 5px
        white-space: nowrap

  &__fullname-box
    display: flex
    flex-direction: column
    flex-direction: row
    form
      position: absolute
      top: -19pt
      #user_avatar
        padding: 27pt 0
    > div
      display: flex
      flex-direction: column
      align-items: center
      position: relative
      p
        padding-top: 10pt

  &__zodiac-wrapper
    display: flex

#sign-up-slideshow, #log-in-slideshow
  margin: 50px auto
  position: absolute
  height: 200pt
  box-shadow: 0 0 20px rgba(0,0,0,0.4)
  left: 28pt
  z-index: 999999999
  top: 48pt

#sign-up-slideshow, #log-in-slideshow
  > div
    position: absolute
    top: 10px
    left: 10px
    right: 10px
    bottom: 10px
    img
      width: 178pt
      height: 300pt

#user-form-edit-container
  display: flex
  flex-direction: column
å
.forgot-password-container
  max-width: 500px
  margin: 0 auto
  padding: 100px 0 50px 0

.zodiac-header
  display: flex
  justify-content: space-around
  width: 100%
  p 
    width: 300px
    text-align: left
    font-weight: bold

  .order-th 
    width: 50px !important

.zodiacs-wrapper
  overflow: scroll
  height: 100vh
  padding-top: 120px
  padding-left: 20px
  padding-right: 20px

.zodiac-row
  display: flex
  width: 100%
  justify-content: space-around
  align-items: center
  border-bottom: 1px solid lightblue
  p.order
    width: 50px
  p
    width: 300px
    text-align: left
    margin-top: 10px
    font-size: 14px

.zodiac-row.zodiac-detail
  align-items: start

@media screen and(min-width: 767px)
  .users
    margin: 0 auto
    top: 80pt
    width: 520pt

    &__short-info
      flex-direction: row
      justify-content: space-between
      align-items: center

  .user
    max-width: 900pt
    margin: 0 auto
    // position: relative
    // top: 30pt
    > div:first-child
      // justify-content: space-between

    &__edit-btn
      padding-left: 20pt
      // padding-top: 15pt

    &__avatar
      width: 120pt
      height: 120pt
      position: relative

    &__name-edit-group
      display: flex
      h2
        white-space: nowrap

    &__fullname-box
      > div
        flex-direction: column
        // padding-left: 50pt
        p
          margin: 0
          position: absolute
          top: 70pt
          left: 220pt
          white-space: nowrap

    &__photos-title-wrapper
      display: flex
      align-items: center
      img
        width: 30px
        height: 30px

    &__photos
      display: grid
      grid-template-columns: repeat(2, 200pt)
      grid-gap: 20pt
      justify-items: center
      overflow-y: scroll
      // height: 600px

    &__follows
      // margin-top: 50pt
      border: none
      // position: absolute
      // left: 200pt
      // top: 64pt
      justify-content: initial
      > div
        display: flex
        padding-right: 10pt

    &__fullname
      // position: relative
      // left: 156pt
      // bottom: 48pt

    .right-box 
      .content
        left: 115px

@media screen and(min-width: 1023px)
  .users
    padding-top: 30pt
    // width: 800pt
    height: 100vh
    overflow: scroll

  .users-search
    padding-top: 30pt

  .user
    // padding-top: 70pt
    // position: relative

    &__photos
      grid-template-columns: repeat(4, 1fr)

    &__follows
      > div
        padding: 10pt 20pt 10pt 0
        white-space: nowrap
        width: 125pt

    &__follows-vie
      > div:not(:first-child)
        width: 150pt !important

    &__fullname
      left: 158pt

  .user-form-container
    .left-box
      display: flex
      flex-direction: column
      margin-right: 20px
      height: 500px
      img
        width: 500pt
        height: 100%
        object-fit: contain

    .right-box
      position: relative
      right: 10px
      background-color: white
      top: 40px
      > div:first-child
        margin-top: initial !important
    .log-in-form
      margin-top: initial 
      z-index: 2

  .user-form-container.new
    background: url('bg-new-1.jpg')
    padding-top: 40pt !important
    max-width: initial
    height: 100vh
    background-position: center center
    background-size: 100% 100%
    background-repeat: no-repeat

    .new_user
      padding: 20pt 0 0

  .user-form-container.login
    background: url('bg-new-2.jpg')
    padding-top: 40pt
    max-width: initial
    height: 100vh
    padding-top: 50pt
    background-position: center center
    background-size: 100% 100%
    background-repeat: no-repeat
    